<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Inventory Management System</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" th:src="@{/js/inventory.js}"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <b class="navbar-brand">Inventory Management System by Henry Wong</b>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="inactive"><a th:href="@{/}">Inventory</a></li>
                        <li class="active"><a th:href="@{/locations}">Locations</a></li>
                        <li class="inactive"><a href="https://github.com/henryinqz/shopify-backend-intern-challenge-f22">Github Repo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="rounded">

        <div th:switch="${inventory}">
            <h2 th:case="null">Inventory is empty!</h2>
            <div th:case="*">
                <h2>Inventory</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inventoryEntry : ${inventory}">
                        <td th:text="${inventoryEntry.name}"></td>
                        <td th:text="${inventoryEntry.quantity}"></td>
                        <td th:text="${inventoryEntry.location.name}"></td>
                        <td>
                            <button
                                    type="submit"
                                    th:inventoryEntryId="${inventoryEntry.id}"
                                    th:onclick="onInventoryDelete(this.getAttribute('inventoryEntryId'))"
                            >Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <hr class="dashed">

            <!-- Create new inventory entry -->
            <div>
                <h3>Create a new inventory entry</h3>
                <form>
                    <label for="createInventoryEntryName">Name: </label>
                    <input
                            type="text"
                            id="createInventoryEntryName"
                            name="createInventoryEntryName"
                    ><br>

                    <label for="createInventoryEntryQuantity">Quantity: </label>
                    <input
                            type="number"
                            id="createInventoryEntryQuantity"
                            name="createInventoryEntryQuantity"
                    ><br>

                    <label for="createInventoryEntryLocationId">Location: </label>
                    <select
                            id="createInventoryEntryLocationId"
                            name="createInventoryEntryLocationId"
                            th:field="${locations}">
                        <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}"></option>
                    </select>
                </form>
                <button type="submit" th:onclick="onInventorySubmit()">Create</button>
            </div>

            <hr class="dashed">

            <!-- Update inventory entry -->
            <div>
                <h3>Update an existing inventory entry</h3>
                <form>
                    <label for="updateInventoryEntryId">Entry to update: </label>
                    <select
                            id="updateInventoryEntryId"
                            name="updateInventoryEntryId"
                            th:field="${inventory}">
                        <option
                                th:each="inventoryEntry : ${inventory}"
                                th:value="${inventoryEntry.id}"
                                th:text="${inventoryEntry.name}"
                                >
                        </option>
                    </select><br>

                    <label for="updateInventoryEntryName">Name: </label>
                    <input
                            type="text"
                            id="updateInventoryEntryName"
                            name="updateInventoryEntryName"
                    ><br>

                    <label for="updateInventoryEntryQuantity">Quantity: </label>
                    <input
                            type="number"
                            id="updateInventoryEntryQuantity"
                            name="updateInventoryEntryQuantity"
                    ><br>

                    <label for="updateInventoryEntryLocationId">Location: </label>
                    <select
                            id="updateInventoryEntryLocationId"
                            name="updateInventoryEntryLocationId"
                            th:field="${locations}">
                        <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}"></option>
                    </select>
                </form>
                <button type="submit" th:onclick="onInventorySubmitUpdate()">Update</button>
            </div>
        </div>
    </body>
</html>